@font-face {
	font-family:cascadia-mono;
	src:url('CascadiaMono-Regular.otf');
}
html {
	height:100%;
	font-family:sans;
	font-size:min(7vw, 6vh);
}
body {
	background-color:#606060;
	height:100%;
	margin:0;
	padding:0;
	display:grid;
	place-items:center;
}
div#gridContainer {
	display:grid;
	padding:.3rem;
	gap:.3rem;
	grid-template-columns: auto auto;
}
input {
	appearance:unset;
	box-sizing: border-box; /*fixes the problem where the 100% width with padding overlaps the container*/
	min-width:2rem;
	background-color: #000000;
	color: #ffffff;
	/*width:100%;*/
	font-family:cascadia-mono, monospace;
	border:0px;
	border-radius:.5rem;
	padding:.5rem;
	font-size: 1rem;
}
select {
	background-color:#000000;
	color:#ffffff;
	min-width:2rem;
	width:100%;
	border:0px;
	border-radius:.5rem;
	padding:.5rem;
	/* fixes problem where neutralinojs shows SELECT elements with a native-looking overlay and ignores css background color */
	appearance:unset;
	padding-right:1rem;
	background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); 
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: 50%;
	font-size: 1rem;
}

div#gridContainer span{
	font-size: .5rem;
	margin-bottom:-.1rem;
}

/*hide spinner buttons*/
input[type='number'] {
	-moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
