@font-face { font-family: cascadia-mono-num; src: url('cmNum.woff2'); }
html {
	height:100%;
	font-family:sans;
	font-size:3vh;
}
body {
	background-color:#606060;
	color:white;
}

input {
	position:absolute;
	top:50%;
	right:50%;
	transform: translate(0,-50%);
	appearance:unset;
	box-sizing: border-box; /*fixes the problem where the 100% width with padding overlaps the container*/
	/*min-width:2rem;*/
	background-color: #000000;
	color: #ffffff;
	/*width:100%;*/
	font-family:cascadia-mono-num, monospace;
	border:0px;
	border-radius:.5rem;
	padding:.5rem;
	font-size: 1.5rem;
	text-align:right;
	width:25%;
}

span {
	position:absolute;
	transform: translate(0,-50%);
	left:50%;
	top:calc(var(--myvar,0.5) * (100vh - 2 * 3vh) + 3vh);
	line-height:1;
}
span:before {
	content: url("dotleft.svg");
	border:1px solid red;
	vertical-align:top;
}

/*hide spinner buttons*/
input[type='number'] {
	-moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
