@font-face {
	font-family: cascadia-mono-num;
	src: url('cmNum.woff2');
}
html {
	font-size:3vh;
}
body {
	font-family:sans;
	height:100%;
	background-color:#606060;
	color:white;
}

input {
	position:absolute;
	top:50%;
	right:55%;
	transform: translate(0,-50%);
	appearance:unset;
	box-sizing: border-box; /*fixes the problem where the 100% width with padding overlaps the container*/
	background-color: #000000;
	color: #ffffff;
	font-family:cascadia-mono-num, monospace;
	border:0px;
	border-radius:.5rem;
	padding:.5rem;
	font-size: 1.5rem;
	text-align:right;
	max-width:25%;
	min-width:5%;
}

svg {
	position:absolute;
	left:45%;
	top:0;
	height:100%;
	width:50%;
}
svg path {
	stroke:#ffffff; stroke-width:1px;
}

.label {
	font: 10px sans;
	fill:#808080;
}

span {
	position:absolute;
	transform: translate(0,-50%);
	left:55%;
	top:calc(var(--myvar,0.5) * (100vh - 2 * 3vh) + 3vh);
	line-height:1;
	background-color:#ffffff;
	color:#000000;
	border-radius:.2rem;
	padding:.2rem;
}


/*hide spinner buttons*/
input[type='number'] {
	-moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
