html {
	height:100%;
	font-family:sans;
}
body {
	background-color:#606060;
	height:100%;
	margin:0;
	padding:0;
	display:flex;
	flex-wrap:wrap;
}

button {
	aspect-ratio:1;
	border-radius:.5rem;
	background-color: #000000;
	color: #ffffff;
	padding:.5rem;
	font-size: 1rem;
}

@media (orientation: landscape) {
	html{
		font-size:min(7vw, 5vh);
	}
	button {
		height:min(100vh,50vw);
		width:min(100vh,50vw);
	}
	img {
		width: 80%;
	}
}
@media (orientation: portrait) {
	html{
		font-size:min(7vw, 5vh);
	}
	button {
		height:min(100vw,50vh);
		width:min(100vw,50vh);
	}
	img {
		width: 80%;
	}
}
