html {
	font-size:min(7vh, 6vw);
}
body {
	font-family:sans;
	background-color:#606060;
	height:calc(100vh - 2 * min(5vh, 5vw));
	margin:min(5vh, 5vw);
	padding:0;
	display:flex;
	gap:min(5vh, 5vw);
}

button {
/* 	flex-grow:1; */
	flex:1 1 0px;
	border-radius:.5rem;
	background-color: #000000;
	color: #ffffff;
	padding:.5rem;
	font-size: 1rem;
}
div {
	font-size: 3rem;
	color:#37d21c;
}

@media (orientation:landscape) {
	body {
		flex-direction:row;
	}
	img {
		max-width: 80%;
		max-height: 60%;
	}
}
@media (orientation:portrait) {
	body {
		flex-direction:column;
	}
	img {
		max-width: 80%;
		max-height: 60%;
	}
}
